html {
  scroll-behavior: smooth;
 }

body {
  max-width: 1980px;
  margin: 0 auto;
  margin-top: 8.5vh;
  background-color: white;
}

/* FONTS */
p {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}

h1 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 100;
  /* text-decoration: underline; */
}

h2 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}

h3 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}

h4 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}
/* END FONTS */


/* NAVBAR_TOP */
.navigation_top{
  background-color: white;
  max-width: 1980px;
  margin: 0 auto;
}

.logo_top {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  padding-top: 1vh;
  padding-bottom: 1vh;
}
/* END NAVBAR_TOP */


/* NAVBAR_BOTTOM */
.navigation_bottom {
  bottom: 25px;
  max-width: 1980px;
  margin: 0 auto;
  background-color: white;
}

/* NAVIGATION LINKS */
.link  {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  color: black;
  text-align: center;
}

/* LOGO */
.logo  {
  font-family: 'Libre Baskerville', serif;
  font-size: 24pt;
  padding: 0px;
  text-align: right;
}


/* END NAVBAR_BOTTOM */


/* FOOTER */
.footer{
  max-width: 1980px;
  margin: 0 auto;
  height: 25px;
  bottom: 0;
  background-color: white;
  font-size: 0.75rem;
}
/* END FOOTER */


/* ABOUT */
.about {
  /* margin-top: 5rem; */
  margin-bottom: 16rem;
  text-align: justify;
}

.cv_text  {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 11pt;
}
/* END ABOUT */

.start  {
  height:80vh !important;
  width:100vw;
  object-fit:cover;
  object-position: center;
}

/* PORTFOLIO */
.portfolioStartItem{
  height: 0rem;
  /* margin-top: 4vh; */
}

.carousel-caption {
  /* text-align: left; */
  position: relative;
  left: 0;
  top: 0;
  height: 2rem
}

.portfolioItem {
  margin-top: 6rem;
  margin-bottom: 10rem;
}

#caption-left {
  text-align: left;
  font-size: 0.875rem;
}

#caption-right {
  text-align: right;
  font-size: 0.875rem;
}

.portfolioItemHeader * {
  height: auto;
  text-align: left;
  vertical-align: bottom;
}

#itemDescription{
  font-size: 11pt;
}

#itemSubscription{
  text-align: left;
}

.carousel-control-next  {
  width: 100%;
}

/* END PORTFOLIO */
