<div class="vita">
  <div class="vita_pic">
    <img src="img/ms.jpg" class="img-fluid pb-5" alt="">
  </div>
  <h6>Kilian Eisgruber</h6>
  <div class="cv">
    <table class="table table-sm table-borderless cv_text">
      <tbody>
        <tr>
          <td class="col-4">1985</td>
          <td class="col-8">geboren in Nürnberg</td>
        </tr>
        <tr>
          <td class="col-4">2006 – 2013</td>
          <td class="col-8">Architekturstudium TU Dresden</td>
        </tr>
        <tr>
          <td class="col-4">2013</td>
          <td class="col-8">Diplom Architektur TU Dresden</td>
        </tr>
        <tr>
          <td class="col-4">2013 – 2017</td>
          <td class="col-8">Mitarbeit Steves & Borsum Architekten Köln</td>
        </tr>
        <tr>
          <td class="col-4">seit 2016</td>
          <td class="col-8">Architekt AKNW, Mitglidsnummer 105632</td>
        </tr>
        <tr>
          <td class="col-4">2017 - 2019</td>
          <td class="col-8">Mitarbeit bei Lorber Paul Architekten, Düsseldorf</td>
        </tr>
        <!-- <tr>
          <td class="col-4">2017 - 2019</td>
          <td class="col-8">Mitarbeit bei Lorber Paul Architekten, Düsseldorf</td>
        </tr> -->
      </tbody>
    </table>
  </div>
</div>
