<!-- ++++++++++++== -->
<!-- START TSD -->
<!-- ++++++++++++== -->

<div class="portfolioItem px-3">
  <div class="portfolioItemHeader">
    <div class="row no-gutters">
      <div class="col-sm-6">
        <h3>TSD</h3>
      </div>
      <div class="col-sm-6">
        <p id="itemDescription" class="text-left text-sm-right"><b>Neubau von 7 Reihenhäusern</b><br>Tackenstrasse, Dinslaken</p>
      </div>
    </div>
  </div>
  <!-- <div class="container"> -->
  <div class="row">
    <!-- CONTENT: PORTFOLIO Carousel left -->
    <div class="col-md mb-3 mb-md-0">
      <div id="carouselItemLeft_TSD" class="carousel carousel-fade" data-ride="carousel" data-interval="false">
        <!-- +++ -->
        <div class="carousel-inner">
          <!-- == BILD 1 == -->
          <div class="carousel-item active">
            <img class="d-inline w-100" src="projects/TSD/TSD_20.jpg" alt="TSD_20">
            <div class="carousel-caption d-none d-md-block bg-white text-dark">
              <p id="caption-left">1/2</p>
            </div>
          </div>
          <!-- +++= -->
          <!-- == BILD 2 == -->
          <div class="carousel-item">
            <img class="d-inline w-100" src="projects/TSD/TSD_21.jpg" alt="TSD_21">
            <div class="carousel-caption d-none d-md-block bg-white text-dark">
              <p id="caption-left">2/2</p>
            </div>
          </div>
          <!-- +++ -->
        </div>
        <!-- CONTROLS -->
        <a class="carousel-control-next" href="#carouselItemLeft_TSD" role="button" data-slide="next">
          <span aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        <!-- +++ -->
      </div>
    </div>
    <!-- CONTENT: PORTFOLIO Carousel right -->
    <div class="col-md ml-auto">
      <div id="carouselItemRight_TSD" class="carousel carousel-fade" data-ride="carousel" data-interval="false">
        <!-- +++ -->
        <div class="carousel-inner">
          <!-- == BILD 1 == -->
          <div class="carousel-item active">
            <img class="d-inline w-100" src="projects/TSD/TSD_0.png" alt="TSD_0">
            <div class="carousel-caption d-none d-md-block bg-white text-dark mb-4">
              <p id="caption-right">1/6</p>
            </div>
          </div>
          <!-- +++ -->
          <!-- == BLID 2 == -->
          <div class="carousel-item">
            <img class="d-inline w-100" src="projects/TSD/TSD_1.png" alt="TSD_1">
            <div class="carousel-caption d-none d-md-block bg-white text-dark mb-4">
              <p id="caption-right">2/6</p>
            </div>
          </div>
          <!-- +++ -->
          <!-- == BLID 3 == -->
          <div class="carousel-item">
            <img class="d-inline w-100" src="projects/TSD/TSD_2.png" alt="TSD_2">
            <div class="carousel-caption d-none d-md-block bg-white text-dark mb-4">
              <p id="caption-right">3/6</p>
            </div>
          </div>
          <!-- +++ -->
          <!-- == BLID 4 == -->
          <div class="carousel-item">
            <img class="d-inline w-100" src="projects/TSD/TSD_3.png" alt="TSD_3">
            <div class="carousel-caption d-none d-md-block bg-white text-dark mb-4">
              <p id="caption-right">4/6</p>
            </div>
          </div>
          <!-- +++ -->
          <!-- == BLID 5 == -->
          <div class="carousel-item">
            <img class="d-inline w-100" src="projects/TSD/TSD_4.png" alt="TSD_4">
            <div class="carousel-caption d-none d-md-block bg-white text-dark mb-4">
              <p id="caption-right">5/6</p>
            </div>
          </div>
          <!-- +++ -->
          <!-- == BLID 6 == -->
          <div class="carousel-item">
            <img class="d-inline w-100" src="projects/TSD/TSD_5.png" alt="TSD_5">
            <div class="carousel-caption d-none d-md-block bg-white text-dark mb-4">
              <p id="caption-right">6/6</p>
            </div>
          </div>
          <!-- +++ -->
        </div>
        <!-- +++ -->
        <!-- CONTROLS -->
        <a class="carousel-control-next" href="#carouselItemRight_TSD" role="button" data-slide="next">
          <span aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        <!-- +++ -->
      </div>
    </div>
  </div>
</div>
<!-- </div> -->

<!-- ++++++++++++== -->
<!-- END TSD -->
<!-- ++++++++++++== -->
