<!-- ============== -->
<!-- START CAM -->
<!-- ============== -->

<div class="portfolioItem px-3">
  <div class="portfolioItemHeader">
    <div class="row no-gutters">
      <div class="col-sm-6">
        <h3>CAM</h3>
      </div>
      <div class="col-sm-6">
        <p id="itemDescription" class="text-left text-sm-right"><b>Anbau an eine Fertigungshalle</b><br>Herten, Ausführung 2021</p>
      </div>
    </div>
  </div>
  <!-- <div class="container"> -->
  <div class="row">
    <!-- CONTENT: PORTFOLIO Carousel left -->
    <div class="col-md mb-3 mb-md-0">
      <div id="carouselItemLeft_CAM" class="carousel carousel-fade" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-inline w-100" src="projects/CAM/CAM_20.jpeg" alt="First slide">
            <div class="carousel-caption d-none d-md-block bg-white text-dark">
              <p id="caption-left">1/2</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-inline w-100" src="projects/CAM/CAM_21.jpeg" alt="Second slide">
            <div class="carousel-caption d-none d-md-block bg-white text-dark">
              <p id="caption-left">2/2</p>
            </div>
          </div>
          <!-- CONTROLS -->
          <a class="carousel-control-next" href="#carouselItemLeft_CAM" role="button" data-slide="next">
            <span aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
    <!-- CONTENT: PORTFOLIO Carousel right -->
    <div class="col-md ml-auto">
      <div id="carouselItemRight_CAM" class="carousel carousel-fade" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-inline w-100" src="projects/CAM/CAM_0.png" alt="First slide">
            <div class="carousel-caption d-none d-md-block bg-white text-dark mb-4">
              <p id="caption-right">1/5</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-inline w-100" src="projects/CAM/CAM_1.png" alt="Second slide">
            <div class="carousel-caption d-none d-md-block bg-white text-dark mb-4">
              <p id="caption-right">2/5</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-inline w-100" src="projects/CAM/CAM_2.png" alt="Second slide">
            <div class="carousel-caption d-none d-md-block bg-white text-dark mb-4">
              <p id="caption-right">3/5</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-inline w-100" src="projects/CAM/CAM_3.png" alt="Second slide">
            <div class="carousel-caption d-none d-md-block bg-white text-dark mb-4">
              <p id="caption-right">4/5</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-inline w-100" src="projects/CAM/CAM_4.png" alt="Second slide">
            <div class="carousel-caption d-none d-md-block bg-white text-dark mb-4">
              <p id="caption-right">5/5</p>
            </div>
          </div>
        </div>
        <!-- CONTROLS -->
        <a class="carousel-control-next" href="#carouselItemRight_CAM" role="button" data-slide="next">
          <span aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->

<!-- ============== -->
<!-- END CAM -->
<!-- ============== -->
