<!-- ============== -->
<!-- START XXX -->
<!-- START 0 -->
<!-- ============== -->

<div class="portfolioItem px-3">
  <div class="portfolioItemHeader">
    <div class="row no-gutters">
      <div class="col-sm-6">
        <h3>XXX</h3>
      </div>
      <div class="col-sm-6">
        <p id="itemDescription" class="text-left text-sm-right"><b>Projektname</b><br>Ort, Jahr, Typ etc.</p>
      </div>
    </div>
  </div>
  <!-- <div class="container"> -->
  <div class="row">
    <!-- CONTENT: PORTFOLIO Carousel left -->
    <div class="col-md col-md mb-3 mb-md-0">
      <div id="carouselItemLeft_XXX" class="carousel carousel-fade" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-inline w-100 py-sm-3" src="projects/XXX_20.jpg" alt="First slide">
            <div class="carousel-caption d-none d-md-block bg-white text-dark">
              <p id="caption-left">1/L1</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-inline w-100 py-sm-3" src="projects/XXX_21.jpg" alt="Second slide">
            <div class="carousel-caption d-none d-md-block bg-white text-dark">
              <p id="caption-left">2/L1</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-inline w-100 py-sm-3" src="projects/XXX_22.jpg" alt="Second slide">
            <div class="carousel-caption d-none d-md-block bg-white text-dark">
              <p id="caption-left">3/L1</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-inline w-100 py-sm-3" src="projects/XXX_23.jpg" alt="Second slide">
            <div class="carousel-caption d-none d-md-block bg-white text-dark">
              <p id="caption-left">4/L1</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-inline w-100 py-sm-3" src="projects/XXX_24.jpg" alt="Second slide">
            <div class="carousel-caption d-none d-md-block bg-white text-dark">
              <p id="caption-left">5/L1</p>
            </div>
          </div>
        </div>
        <!-- CONTROLS -->
        <a class="carousel-control-next" href="#carouselItemLeft_XXX" role="button" data-slide="next">
          <span aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <!-- CONTENT: PORTFOLIO Carousel right -->
    <div class="col-md ml-auto">
      <div id="carouselItemRight_XXX" class="carousel carousel-fade" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-inline w-100 py-sm-3" src="projects/XXX_0.jpg" alt="First slide">
            <div class="carousel-caption d-none d-md-block bg-white text-dark mb-4">
              <p id="caption-right">1/R1</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-inline w-100 py-sm-3" src="projects/XXX_1.jpg" alt="Second slide">
            <div class="carousel-caption d-none d-md-block bg-white text-dark mb-4">
              <p id="caption-right">2/R1</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-inline w-100 py-sm-3" src="projects/XXX_2.jpg" alt="Second slide">
            <div class="carousel-caption d-none d-md-block bg-white text-dark mb-4">
              <p id="caption-right">3/R1</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-inline w-100 py-sm-3" src="projects/XXX_3.jpg" alt="Second slide">
            <div class="carousel-caption d-none d-md-block bg-white text-dark mb-4">
              <p id="caption-right">4/R1</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-inline w-100 py-sm-3" src="projects/XXX_4.jpg" alt="Second slide">
            <div class="carousel-caption d-none d-md-block bg-white text-dark mb-4">
              <p id="caption-right">5/R1</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-inline w-100 py-sm-3" src="projects/XXX_5.jpg" alt="Second slide">
            <div class="carousel-caption d-none d-md-block bg-white text-dark mb-4">
              <p id="caption-right">6/R1</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-inline w-100 py-sm-3" src="projects/XXX_6.jpg" alt="Second slide">
            <div class="carousel-caption d-none d-md-block bg-white text-dark mb-4">
              <p id="caption-right">7/R1</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-inline w-100 py-sm-3" src="projects/XXX_7.jpg" alt="Second slide">
            <div class="carousel-caption d-none d-md-block bg-white text-dark mb-4">
              <p id="caption-right">8/R1</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-inline w-100 py-sm-3" src="projects/XXX_8.jpg" alt="Second slide">
            <div class="carousel-caption d-none d-md-block bg-white text-dark mb-4">
              <p id="caption-right">9/R1</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-inline w-100 py-sm-3" src="projects/XXX_9.jpg" alt="Second slide">
            <div class="carousel-caption d-none d-md-block bg-white text-dark mb-4">
              <p id="caption-right">10/R1</p>
            </div>
          </div>
        </div>
        <!-- CONTROLS -->
        <a class="carousel-control-next" href="#carouselItemRight_XXX" role="button" data-slide="next">
          <span aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- ============== -->
<!-- END XXX -->
<!-- ============== -->
